.navbar .nav-container .logo h1 {
    margin: 0;
    padding: 20px 0;
}

.navbar .nav-container .nav-elements {
    margin-left: auto;
}

.navbar .nav-container .nav-elements ul {
    display: flex;
    padding: 0;
}

.navbar .nav-container .nav-elements ul li {
    list-style-type: none;
    margin: 0 1rem;
}

.navbar .nav-container .nav-elements ul li a {
    display: block;
    width: 100%;
}