.App {
  text-align: center;
}

.Header, .Footer {
  display: flex;
  align-content: center;
}

.Header div, .Footer div {
  width: 100%;
  margin: auto;
}

.Header .InputProfile * {
  margin: auto;
}

.Header .InputProfile input {
  width: 200px;
}

.Footer {
  height: 60px;
}

@media (max-width: 500px) {
  .Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-content: center;
  }
}